*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(211, 235, 229);
  box-shadow: 5px 10px 10px rgb(162, 162, 163);
  margin-bottom: 10px;
}